
.pure-form fieldset {
    margin: 0px;
    padding: 0.35em 0px 0.75em;
    border: 0px none;
}

html, button, input, select, textarea {
    color: rgb(34, 34, 34);
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

.pure-u-1-2 {
    width: 40.3333%;
}

.pure-u-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-5-24, .pure-u-7-24, .pure-u-11-24, .pure-u-13-24, .pure-u-17-24, .pure-u-19-24, .pure-u-23-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}


.pure-form.pure-form-stacked input[type="text"], .pure-form.pure-form-stacked select, .pure-form.pure-form-stacked label
{
    display: block;
    
}


.pure-form label {
    margin: 0.5em 0px 0.2em;
    color: rgb(153, 153, 153);
    font-size: 100%;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
    margin: 0.5em 0px;
}

.pure-button-hover, .pure-button:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05));
}

.pure-form button, .pure-form input[type="button"], .pure-form input[type="reset"], .pure-form input[type="submit"] {
    cursor: pointer;
}

.pure-form button, .pure-form input {
    line-height: normal;
}

.pure-form button, .pure-form input, .pure-form select, .pure-form textarea {
    font-size: 100%;
    margin: 0px;
    vertical-align: baseline;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: rgb(255, 255, 255);
}

.pure-button 
{
    padding: 0.5em 1.5em;
    border: 0px none transparent;
    text-decoration: none;
    border-radius: 2px 2px 2px 2px;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    -moz-user-select: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] 
{
  cursor: pointer;
   }
   
   button, select {
    text-transform: none;
}

.pure-form .pure-input-1
{
    width:100%
}

.pure-form .pure-input-2-3
{
    width:66%
}
.pure-form .pure-input-1-2
{
    width:50%
}
.pure-form .pure-input-1-3
{
    width:33%
}
.pure-form .pure-input-1-4
{
    width:25%
}



.form1
{
    margin:0; 
    padding:1cm 1cm 1cm
}




.twitterbird
{
 
    width: 24px;
    height: 24px;
    display: block;
    background: transparent url('../images/users2.png') no-repeat center top;
   
}

.divicon
{
   
    width: 24px;
    height: 24px;
    display: block;
   
    padding: 1.5cm 0.5cm;
 border: 0px none;
outline: 0px none;
vertical-align: baseline;

}
.twitterbird:hover
{
    background-image: url('../images/users.png');
}

.divicon2
{
   
    width: 24px;
    height: 24px;
    display: block;
   
    padding: 4cm 0.55cm;
 border: 0px none;
outline: 0px none;
vertical-align: baseline;

}
.twitterbird2
{
 
    width: 24px;
    height: 24px;
    display: block;
    background: transparent url('../images/cog.png') no-repeat center top;
   
}

.twitterbird2:hover
{
    background-image: url('../images/cog2.png');
}

.divicon3
{
   
    width: 24px;
    height: 24px;
    display: block;
   
  padding: 1.5cm 0.55cm;
 border: 0px none;
outline: 0px none;
vertical-align: baseline;

}
.twitterbird3
{
 
    width: 24px;
    height: 24px;
    display: block;
    background: transparent url('../images/smiley.png') no-repeat center top;
   
}

.twitterbird3:hover
{
    background-image: url('../images/smiley2.png');
}







.pure-form select
{
    border:1px solid #ccc;
    background-color:#fff
}




.gridview
    {
        font-size: smallz;
        vertical-align : middle;
        text-align: center;
        font-family: "arial";
        border:1px solid white;
        }
    
        
    .gridview tr th
{
    background: #3A3A3A;
    color: #fff;
    height: 25px;
    font-weight: bold;
}
    
    .gridview tr,
    .gridview tr td,
    .gridview tr th
    {
        padding: 8px;
        font-size: 14px;
        line-height: 14pt;
        vertical-align: top;
        border-bottom: 1px solid rgb(234,234, 234);
        
    }
    
    .gridview tr:hover
    {
         background-color: rgb(253, 253, 253)
    }
      
/* .gridview tr:nth-child(even):hover
{
    background: #006699;
    color: #FFFFFF;
    cursor: pointer;
}
  
  .gridview tr:nth-child(odd):hover
{
    background: #006666;
    color: #fff;
    cursor:pointer;
}
*/

#UpdateBranch,#FillSurvey,#PopTicket,#TicketReply
{
    border: thin solid #000000;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99999;
    display: none;
    margin:30px auto 0; 
    position:absolute;
    box-shadow: 0px 0px 80px black;
    margin-left: -500px;
    margin-top: -250px;
    background-color: #FFFFFF;
}


#mask
{
    left: 0px;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: black;
    opacity: 0.9;
    display: none;
}


#DeleteConfirm
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 6em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    vertical-align: middle;
    box-shadow: 0px 0px 80px black;
    display: none;
    border: thin solid #000000;
    z-index: 9999;
}




#progressBar {

    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
    }
#progressBar div {

    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;

}

.validator
{
    font-size: smallz;
    vertical-align: middle;
    text-align: center;
    font-family: "arial";
    color: #FF0000;
}

#sFillSurvey,#sPopTicket,#sTicketReply
{
    border: thin solid #000000;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99999;
    display: none;
    margin:30px auto 0; 
    position:absolute;
    box-shadow: 0px 0px 80px black;
    margin-left: -420px;
    margin-top: -250px;
    background-color: #FFFFFF;
}

#message
{
    background-color: #FFFFFF;
    border: 1px solid #333333;
    color: #000000;
    height: 28px;
    width: 191px;
    border-radius: 5px;
    font-family: Sansation,Arial;
    outline: none;
    font-size: small;
}

#message:focus{
outline: none;
box-shadow: 0px 0px 5px #61C5FA;
border:1px solid #5AB0DB;
}

#Phone
{
    background-color: #FFFFFF;
    border: 1px solid #333333;
    color: #000000;
    height: 28px;
    width: 191px;
    border-radius: 5px;
    font-family: Sansation,Arial;
    outline: none;
    font-size: small;
}

#Phone:focus{
outline: none;
box-shadow: 0px 0px 5px #61C5FA;
border:1px solid #5AB0DB;
}


.example
    {
        padding: 20px 40px 20px 60px;
        border: 1px solid rgb(204, 204, 204);
        position: relative;
        margin: 0px 0px 10px;
        background-color: rgb(253, 253, 253) !important;
        min-height: 100px;
        -moz-box-sizing: border-box;
    }
        
